.dropdown_select_container {
  height: 31px;
  width: 100%;

  background-color: #f3f3f5;

  border-radius: 8px;

  display: flex;
  align-items: center;

  position: relative;

  label {
    font-size: 13px;
    color: #0a0a0a;

    padding: 0 12px;
  }
}

.dropdown_select_box {
  width: 100%;

  padding: 4px;

  display: flex;
  flex-direction: column;

  position: absolute;
  top: 38px;
  left: 0;

  border: solid 1px #e5e5e5;
  border-radius: 5px;
  box-shadow: 0px 4px 5px -2px #d8d8d8;

  margin: 0 4px;

  background-color: #ffffff;
}

.dropdown_select_option {
  width: 93%;
  height: 30px;

  list-style-type: none;

  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 13px;
  color: #0a0a0a;

  padding: 5px;

  border-radius: 5px;
}

.dropdown_select_option:hover {
  background-color: #e9ebef;
}
