* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  max-width: 100vw;
  background-color: #dcdcdc;
  margin: 0 auto;
}

input {
  width: 200px;
  height: 32px;

  font-size: 11px;

  border: 0;
  border-radius: 15px;

  outline: none;
  padding-left: 10px;
  background-color: #ffff;
  box-shadow: 2px 2px 10px #cacaca;

  margin-top: 30%;
}

.container {
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.loginContainer {
  width: 240px;
  height: 420px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  background-color: rgb(255, 255, 255, 0.3);
  box-shadow: 0px 0px 10px rgb(0 0 0/ 0.1);
  border-radius: 100px 100px 10% 10%;
  border: solid 1px #dcdcdc;
}

.icon {
  width: 120px;
  height: 120px;

  margin-top: 14%;

  border: 10px solid #5f5f5f;
  box-shadow: 0px 0px 3px rgb(0 0 0/ 0.5);

  border-radius: 100%;
  background-color: #1a1a1a;
}

.loginText {
  font-size: 21px;

  margin-top: 6%;
}

.loginBtn {
  width: 200px;
  height: 32px;

  font-size: 11px;
  color: #ffff;

  border: 0;
  border-radius: 15px;

  outline: none;
  padding-left: 10px;
  background-color: #1a1a1a;
  box-shadow: 0px 0px 10px rgb(0 0 0/ 0.1);

  margin-top: 30%;
}

.descriptionText {
  font-size: 9px;
  color: #8d8d8d;

  margin-top: 3%;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 20%;
}

.socialText {
  font-size: 8px;
  color: #8d8d8d;

  margin-top: 4%;
}
