* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

.app {
  min-height: 100vh;
  max-width: 100vw;

  background: radial-gradient(
    farthest-corner at 15% 30%,
    #eeeeee 0%,
    #d2d2d2 10%,
    #dbdbdb
  );

  margin: 0 auto;
}

.container {
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.loginContainer {
  width: 230px;
  height: 410px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  background-color: rgb(225, 225, 225, 0.7);
  box-shadow: 0px 0px 10px rgb(0 0 0/ 0.1);
  border-radius: 100px 100px 10% 10%;
  border: solid 1px #dcdcdc;
}

.icon {
  width: 120px;
  height: 120px;

  margin-top: 12%;

  border: 10px solid #5f5f5f;
  box-shadow: 0px 0px 3px rgb(0 0 0/ 0.5);

  border-radius: 100%;
  background-color: #1a1a1a;
}

.loginText {
  font-size: 21px;

  margin-top: 5%;
}

.loginInput {
  width: 200px;
  height: 32px;

  font-size: 9px;

  outline: none;
  border: 0 #cacaca;
  border-radius: 15px;
  box-shadow: 0px 0px 3px rgb(225 225 225/ 0.1);

  background-color: #f5f5f5;

  margin-top: 30%;
  padding-left: 10px;
}

.loginBtn {
  width: 200px;
  height: 32px;

  font-size: 10px;
  color: #ffff;

  border: 0;
  border-radius: 15px;

  outline: none;
  padding-left: 10px;
  background-color: #1a1a1a;
  box-shadow: 0px 0px 10px rgb(0 0 0/ 0.1);

  margin-top: 30%;
}

.descriptionText {
  font-size: 9px;
  color: #8d8d8d;

  margin-top: 3%;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 20%;
  margin-top: 5%;
}

.socialText {
  font-size: 8px;
  color: #8d8d8d;

  margin-top: 4%;
}
