.main_container {
  width: 1920px;
  height: 1080px;
  display: flex;
  background-color: white;
}

.main_left {
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  border: solid;
}

.left_bar {
  margin: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* 왼쪽 사이드바 탑 */

.left_bar_top {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.top_title_container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.top_title {
  display: flex;
  flex-direction: column;
}

.main_title {
  font-size: 16px;
  font-weight: 600;
  color: black;
}

.sub_title {
  font-size: 12px;
  color: gray;
}

.top_search_container {
  width: 100%;
  background-color: #eaeaea;
  height: 30px;
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.top_search {
  width: 100%;
  height: 100%;
  display: flex;
}

.search_icon {
  width: 20%;
}

.search_content {
  width: 70%;
  background-color: #eaeaea;
  border: none;
  border-radius: 5px;
}

.search_content:focus {
  outline: none;
}

/* 왼쪽 사이드바 메뉴 */

.menus_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* 왼쪽 사이드바 프로젝트 */

.divider {
  height: 1px;
  background-color: black;
  margin: 10px 0;
  width: 100%;
}
