.main_container {
  width: 1920px;
  height: 1080px;
  display: flex;
  background-color: white;
}

.main_left {
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  border-right: solid;
}

.left_bar {
  margin: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* 왼쪽 사이드바 탑 */

.left_bar_top {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.top_title_container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.top_title {
  display: flex;
  flex-direction: column;
}

.main_title {
  font-size: 16px;
  font-weight: 600;
  color: black;
}

.sub_title {
  font-size: 12px;
  color: gray;
}

.top_search_container {
  width: 100%;
  background-color: #eaeaea;
  height: 30px;
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.top_search {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.search_icon {
  display: flex; /* 아이콘도 flex로 */
  align-items: center; /* 아이콘 중앙 정렬 */
  justify-content: center;
  width: 30px;
  height: 100%;
}

.search_content {
  flex: 1;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  padding: 0 10px;
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  box-shadow: none;
  appearance: none;
}

.search_content:focus {
  outline: none;
}

/* 왼쪽 사이드바 메뉴 */

.menus_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* 왼쪽 사이드바 프로젝트 */

.divider {
  height: 1px;
  background-color: black;
  margin: 10px 0;
  width: 100%;
}
