.myDeck_container {
  width: 100%;
  min-height: 100%;

  display: flex;
  flex-direction: column;

  flex: 1;

  padding: 20px;
}

/*덱 관리 탑*/

.myDeck_top {
  width: 100%;

  display: flex;
  flex-direction: column;

  font-size: 14px;
  color: #a1a1ac;
}

.myDeck_discription_title {
  padding: 5px 0;

  font-size: 22px;
  color: black;
}

.myDeck_discription {
  width: 100%;
  height: 86px;
}

.myDeck_menu {
  display: flex;
  align-items: center;

  width: 100%;
}

.myDeck_filter_Btn {
  width: 65px;
  height: 25px;

  font-size: 13px;
  color: black;

  border: solid 1px #d2d4d7;
  border-radius: 8px;
  background-color: #ffff;

  margin: 0 14px;
}

.myDeck_createNewDeck_Btn {
  width: 120px;
  height: 30px;

  border-radius: 8px;

  background-color: #1c1b2a;
  color: white;
}

.myDeck_tab_container {
  margin: 20px 0;
}

.myDeck_tab_list {
  height: 34px;
  width: 205px;

  display: flex;
  align-items: center;
  justify-content: space-around;

  border-radius: 15px;
  background-color: #ececf0;
}

.myDeck_tab_item {
  list-style-type: none;

  padding: 3px 7px;

  color: #000;

  border-radius: 12px;
}

.myDeck_bottom {
  width: 100%;
  height: 100%;
}

/* 탭에 따라 바뀌는 컨테이너*/

.myDeck_bottom_title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  font-size: 14px;

  margin-bottom: 20px;
}

.myDeck_bottom_export_btn {
  width: 125px;
  height: 25px;

  border: 1px solid #e5e5e5;
  border-radius: 5px;
  background-color: #ffff;

  margin-right: 7px;
}

.myDeck_bottom_share_btn {
  width: 100px;
  height: 25px;

  border: 1px solid #e5e5e5;
  border-radius: 5px;
  background-color: #ffff;
}

.myDeck_bottom_sort_btn {
  width: 80px;
  height: 25px;

  border: 1px solid #e5e5e5;
  border-radius: 5px;
  background-color: #ffff;

  margin-right: 7px;
}

.myDeck_filter_Btn:hover,
.myDeck_bottom_export_btn:hover,
.myDeck_bottom_share_btn:hover,
.myDeck_bottom_sort_btn:hover {
  background-color: #e9ebef;
}

/* 데이터가 없을 시 */

.myDeck_bottom_noting {
  width: 100%;
  height: 100%;

  padding-top: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 14px;
}

.myDeck_bottom_noting_title {
  margin-bottom: 10px;
}

.myDeck_bottom_noting_description {
  color: #717182;
  margin-bottom: 20px;
}

.myDeck_bottom_noting_btn {
  width: 125px;
  height: 35px;

  border: 1px solid #e5e5e5;
  border-radius: 5px;
  background-color: #ffff;
}
