.myDeck_container {
  width: 100%;
  min-height: 100%;

  display: flex;
  flex: 1;

  padding: 20px;
}

.myDeck_top {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;

  font-size: 14px;
  color: #a1a1ac;
}

.myDeck_discription_title {
  padding-top: 5px;

  font-size: 22px;
  color: black;
}

.myDeck_discription {
  width: 100%;
  height: 96px;
}

.myDeck_menu {
  display: flex;
  align-items: center;

  width: 100%;
}

.myDeck_filter_Btn {
  width: 65px;
  height: 25px;

  font-size: 1px;
  color: black;

  border: solid 1px #d2d4d7;
  background-color: #ffff;

  margin: 0 14px;
}

.myDeck_createNewDeck_Btn {
  width: 120px;
  height: 30px;

  background-color: #1c1b2a;
  color: white;
}
