.myDeck_container {
  width: 100%;
  min-height: 100%;

  display: flex;
  flex-direction: column;

  flex: 1;

  padding: 20px;
}

/*덱 관리 탑*/

.myDeck_top {
  width: 100%;

  display: flex;
  flex-direction: column;

  font-size: 14px;
  color: #a1a1ac;
}

.myDeck_discription_title {
  padding: 5px 0;

  font-size: 22px;
  color: black;
}

.myDeck_discription {
  width: 100%;
  height: 86px;
}

.myDeck_menu {
  display: flex;
  align-items: center;

  width: 100%;
}

.myDeck_filter_Btn {
  width: 65px;
  height: 25px;

  font-size: 13px;
  color: black;

  border: solid 1px #d2d4d7;
  border-radius: 8px;
  background-color: #ffff;

  margin: 0 14px;
}

.myDeck_createNewDeck_Btn {
  width: 120px;
  height: 30px;

  border-radius: 8px;

  background-color: #1c1b2a;
  color: white;
}

.myDeck_tab_container {
  margin: 20px 0;
}

.myDeck_tab_list {
  height: 34px;
  width: 205px;

  display: flex;
  align-items: center;
  justify-content: space-around;

  border-radius: 15px;
  background-color: #ececf0;
}

.myDeck_tab_item {
  list-style-type: none;

  padding: 3px 7px;

  color: #000;

  border-radius: 12px;
}

.myDeck_bottom {
  width: 100%;
  height: 100%;
}
