.deck_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.deck_list_item {
  width: 245px;
  height: 305px;

  border: 1px solid #e5e5e5;
  border-radius: 15px;

  overflow: hidden;

  margin-right: 14px;
}

.deck_img {
  width: 100%;
  height: 112px;

  object-fit: cover;

  background-color: #f3f4f6;
}

.deck_detail {
  display: flex;
  flex-direction: column;

  margin: 10px;
}

.deck_detail_title {
  display: flex;
  text-align: center;
  justify-content: space-between;

  margin-bottom: 5px;
}

.deck_detail_visibility {
  font-size: 12px;

  padding: 2px 7px;

  border: 1px solid #e5e5e5;
  border-radius: 10px;
}

.deck_detail_description {
  font-size: 12px;
  color: #717182;

  margin-bottom: 10px;
}

.deck_detail_tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;

  margin-bottom: 10px;
}

.deck_detail_tags_item {
  font-size: 12px;

  padding: 2px 7px;
  background-color: #eceef2;
  border-radius: 10px;

  margin-right: 2px;
}

.deck_detail_etc {
  font-size: 12px;
  color: #717182;

  display: flex;
  text-align: center;
  justify-content: space-between;

  margin-bottom: 10px;
}

.deck_detail_author {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  width: 100%;
}

.deck_detail_author_name {
  font-size: 12px;

  padding: 1px 4px;

  background-color: #eceef2;
  border-radius: 100px;
}
