.main_container {
  display: flex;
  width: 1920px;
  height: 1080px;
}

.main_left {
  width: 300px;
  height: 100%;
  display: flex;
  border-right: solid;
  border-color: #ededed;
}

.main_right {
  flex: 1;
  height: 100%;
}
