.main_container {
  display: flex;
  width: 100%;
  max-width: 1920px;
  height: 1080px;
  margin: 0 auto;
}

.main_left {
  /* width: 300px; 인벤토리 작업중 */
  height: 100%;
  display: flex;
  border-right: 1px solid #ededed;
  flex-shrink: 0;
}

.main_right {
  flex: 1;
  height: 100%;
  overflow-y: auto;
}
