.main_left_simple {
  width: 80px;
  height: 100%;
  display: flex;
  justify-content: center;
  border-right: solid #ededed;
}

.left_bar {
  /* margin-top: 30px;
  margin-bottom: 30px; */
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* 왼쪽 사이드바 탑 */

.left_bar_top {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.top_title_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.top_title {
  display: flex;
  flex-direction: column;
}

.top_main_title {
  font-size: 16px;
  font-weight: 600;
  color: black;
}

.top_sub_title {
  font-size: 12px;
  color: gray;
}

.top_search_container {
  width: 100%;
  background-color: #eaeaea;
  height: 30px;
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.top_search {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.search_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 100%;
}

.search_content {
  flex: 1;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  padding: 0 10px;
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  box-shadow: none;
  appearance: none;
}

.search_content:focus {
  outline: none;
}

/* 왼쪽 사이드바 메뉴 */

.menus_container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.menu_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  padding: 20px;
}

.menu_item.selected {
  background-color: #ededed;
}

.meun_icon {
  width: 100px;
}

/* 왼쪽 사이드바 프로젝트 */
.left_bar_projects {
  display: flex;
  flex-direction: column;
}

.project_title {
  padding-bottom: 15px;
}

.project_card_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.project_card {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 60px;
  background-color: #ecedef;
  border-radius: 10px;
}

.project_card_icon {
  display: flex;
  width: 50px;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.project_card_info {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.project_card_content {
  font-size: 14px;
}

.project_card_date {
  font-size: 12px;
}

.divider {
  height: 1px;
  background-color: #ededed;
  margin: 0 -30px;
  width: auto;
}
