.main_container {
  display: flex;
  flex: 1;
}

.inventory_container {
  width: 100%;
  height: 100%;

  display: flex;

  background-color: white;
}

.inventory_left {
  width: 70%;
  height: 100%;

  display: flex;
  flex-direction: column;

  border-right: solid 2px #e6e6e6;
}

.inventory_top {
  width: 100%;
  height: 170px;

  border-bottom: solid 2px #e6e6e6;
}
