.main_container {
  display: flex;
  flex: 1;

  width: 100%;
  height: 100%;
}

.inventory_container {
  display: flex;

  background-color: white;
}

.inventory_left {
  width: 70%;
  height: 100%;

  display: flex;
  flex-direction: column;

  border-right: solid 2px #e6e6e6;
}

.inventory_top {
  width: 100%;
  height: 170px;

  display: flex;
  flex-direction: column;

  border-bottom: solid 2px #e6e6e6;
}

.inventory_discription {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inventory_top_left {
  display: flex;
  flex-direction: column;

  :last-child {
    font-size: 12px;
    color: #a1a1ac;
  }
}

.inventory_selectmode {
  width: 90px;
  padding: 3px 4px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  font-size: 14px;
  color: #838383;

  border: solid 2px #f1f1f1;
  border-radius: 10px;
}
