.inventory_container {
  width: 100%;
  height: 100%;

  display: flex;
  flex: 1;
}

.inventory_container {
  display: flex;

  background-color: white;
}

.inventory_left {
  width: 70%;
  height: 100%;

  display: flex;
  flex-direction: column;

  border-right: solid 2px #e6e6e6;
}

.inventory_top {
  height: 128px;

  display: flex;
  flex-direction: column;

  padding: 20px;

  border-bottom: solid 2px #e6e6e6;
}

.inventory_discription {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 18px;
}

.inventory_top_left {
  display: flex;
  flex-direction: column;

  :last-child {
    font-size: 12px;
    color: #a1a1ac;
  }
}

/* 체크박스 CSS*/

.inventory_selectmode_btn {
  width: 100px;
  padding: 4px 5px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  font-size: 13px;
  color: #838383;

  border: solid 1px #f1f1f1;
  border-radius: 10px;
}

input[type="checkbox"] {
  display: none;
}

input#selectMode + label {
  display: inline-block;

  width: 13px;
  height: 13px;

  border: 2px solid #a1a1a1;
  border-radius: 3px;

  cursor: pointer;
}

input#selectMode:checked + label {
  background-color: #a1a1a1;
  border-color: #a1a1a1;
  position: relative;
}

.inventory_menu {
  flex: 1;
  display: flex;
}

/* 검색창 CSS */

.page_search_container {
  flex: 1;
  max-width: 392px;
  height: 31px;

  border-radius: 8px;

  display: flex;
  align-items: center;

  background-color: #f3f3f5;
}

.page_search_container:focus-within {
  outline: solid 3px #d0d0d0;
}

.page_search_input {
  width: 100%;
  height: 100%;

  border: none;

  background-color: transparent;

  box-shadow: none;
  appearance: none;
}

.page_search_input:focus {
  outline: none;
}

.inventory_sort_container {
  width: 140px;
  height: 31px;

  margin: 0 14px;
}

.inventory_category_container {
  width: 112px;
  height: 31px;
}

/* 인벤토리 하단 */

.inventory_bottom {
  width: 100%;
  height: 100%;

  display: flex;
}

.inventory_no_data {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 20px;

  :last-child {
    color: #a1a1ac;

    margin-top: 2px;
  }
}

.no_data_icon {
  width: 55px;
  height: 55px;

  border-radius: 50%;
  background-color: #ececf0;

  margin: 15px;
}

.inventory_right {
  flex: 1;
  display: flex;
}
